div.map {
    position: absolute;
    left: 2%;
    top: 5%;
    height: 60%;
    width: 60%;
}

div.myFlights {
    height: 50%;
    width: 35%;
    position: absolute;
    top: 5%;
    right: 2%;
}

div.externalFlights {
    height: 35%;
    width: 35%;
    position: absolute;
    right: 2%;
    top: 60%;
}

div.flightDetails {
    height: 25%;
    width: 60%;
    position: absolute;
    top: 70%;
    left: 2%;
}

.myBorder {
    border: 3px solid #dee2e6 !important;
    border-color: #343A41 !important;
}
