
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #map{
            height:400px;
            width:80%;
        }
    </style>
</head>

<body>
    <h1>My Google Map</h1>
    <div id="map"></div>
    <script>
        function initMap() {
            var options = {
                zoom: 15,
                center: { lat: 32.130232, lng: 34.847036}
            }
            var map = new google.maps.Map(document.getElementById('map'), options);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQvxOxo-7iGC1bwz4SymYT0bRzOMKVvjs&callback=initMap"
            async defer>

    </script>
</body>

</html>
